/* Loading Spinner */
.spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}

td
{
    text-align: center !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.botmBorder{
    border-bottom: 5px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.font-weight-bold
{
    font-weight: bold !important;
}

span.data
{
    font-weight: bold;
}

.customColor
{
    color: #00a792;
}

.mt-20
{
    margin-top: 20px !important;
}

.mt-15
{
    margin-top: 15px !important;
}

.mt-10
{
    margin-top: 10px !important;
}

.loginName
{
    /* margin-top: 55px !important; */
    margin-top: 10px !important;
    margin-right: 20px;
}

.nameTag
{
    background: #f0f6fc !important;
    padding: 20px !important;
    font-size: 25px;
}

.mb-20
{
    margin-bottom: 20px;
}

.mb-15
{
    margin-bottom: 15px;
}

.mb-30
{
    margin-bottom: 30px;
}

.ml-80
{
    margin-left: 80px;
}

.p-30
{
    padding: 30px;
}

.dropdownMenu
{
    background-color: white; 
    z-index: 1001 !important;
}

.customTextSize
{
    font-size: 35px;
}
 
.customTextSize1
{
    font-size: 40px;
    color: #ff7062; 
    font-weight: 800;
}
 
.customTextSize2
{
    font-size: 30px;
    color: #00b44e; 
    font-weight: 800;
}
 
.customTextSize3
{
    font-size: 25px; 
}
 
.customTextSize4
{
    font-size: 40px;
    color: #00a792; 
    font-weight: 800;
}
 
.customTextSize5
{
    font-size: 30px; 
    font-weight: 800;
}
 
 .customTextSize6
 {
     font-size: 22px; 
 }
 
 .customTextSize7
 {
     font-size: 32px; 
 }
 
 .customTextSize8
 {
     font-size: 32px; 
 }
 
.customPaddingbtn
{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 800;
}

.resultimgSize
{
    width: 80px; 
    height: 80px;
}

.resultSize
{
    color: #00b44e; 
    font-size: 50px; 
    font-weight: bold;
}


#phoneOTP 
{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}


#emailOTP 
{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.logo_area
{
    width: 300px; 
    height: 300px; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    content: ""; 
    margin-left:-150px; 
    text-align: center; 
}
@media only screen and (min-width: 200px) and (max-width: 767px) { 
    .slicknav_menu{display: block;}
    .inner_main_menu{display: none;}
    .logo_area {height: auto;left: 0;margin-left: 0;position: relative;top: 0;width: 130px;}
    .logo_area img{height: auto;width: 100%;}
}

.navCustom
{
    height: 95px; 
    border-radius: 0px; 
    background-color: white;
    position: sticky !important;
    top: 0;
    z-index: 1001;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) 
{ 

.bordered-row > .form-group 
{
    padding: 0px 0;
}

.customTextSize7
{
    font-size: 15px !important;
}

.customTextSize8
{
    font-size: 18px !important;
}

.mbp-20
{
    margin-bottom: -20px;
}

.loginName
{
    margin-top: -40px !important;
    margin-left: 140px;   
}

    .nameTag {
        font-size: 16px;
        background: #f0f6fc !important;
        padding: 8px !important;
    }

} 

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) 
{ 

.bordered-row > .form-group 
{
    padding: 0px 0;
}

.customTextSize7
{
    font-size: 15px !important;
}

.customTextSize8
{
    font-size: 18px !important;
}

.mbp-20
{
    margin-bottom: -20px;
}

.loginName
{
    margin-top: -40px !important;
    margin-left: 140px;
}

.nameTag
{
    background: #f0f6fc !important;
    padding: 10px !important;
    font-size: 18px;
}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) 
{ 

.bordered-row > .form-group 
{
    padding: 0px 0;
}

.customTextSize7
{
    font-size: 15px !important;
}

.customTextSize8
{
    font-size: 18px !important;
}

.mbp-20
{
    margin-bottom: -20px;
}

.resultimgSize
{
    width: 50px; 
    height: 50px;
}

.resultSize
{
    font-size: 40px; 
    margin-top: -67px;
    margin-left: 50px;
}

.resultSizeP
{
        margin-left: -15px;
        text-align: justify;
}

.socialBox
{
    display: none;
}

.customPlacement
{
    bottom: 0 !important;
}

.loginName
{
    margin-left: 135px;
}

.nameTag {
    background: #f0f6fc !important;
    padding: 5px !important;
    font-size: 15px;
}



}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    
    .TR{
        text-align: left !important;
    }

    .mlp-90
    {
        margin-left: 90px !important;
    }


    .nameTag
    {
        background: #f0f6fc !important;
        padding: 20px !important;
        font-size: 22px;
    }
    
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
    
    .TR{
        text-align: left !important;
    }

    .mlp-90
    {
        margin-left: 90px !important;
    }

    .socialBox
    {
        display: none;
    }

    .resultimgSize {
        width: 60px;
        height: 60px;
    }

    .resultSize {
        margin-left: 90px;
        margin-top: -56px;
    }

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
    .customTextSize8 {
        font-size: 18px !important;
    }

    .customTextSize6 {
        font-size: 15px;
    }
    
    .TR{
        text-align: left !important;
    }

    .resultimgSize {
        width: 70px;
        height: 70px;
    }

    .resultSize {
        margin-left: 0px;
        margin-top: 0px;
    }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
    .customTextSize8 {
        font-size: 18px !important;
    }

    .customTextSize6 {
        font-size: 15px;
    }
    
    .TR{
        text-align: left !important;
    }
    

.socialBox
{
    display: block;
}

.resultimgSize {
    width: 70px;
    height: 70px;
}

.resultSize {
    margin-left: 0px;
    margin-top: 0px;
}

}