/* ========================= header section ==========================*/
header
{
  background: url(../img/top-bg.jpg) no-repeat 0, 0 #92ddff;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header-content
{
  margin-bottom: 15px;
}
.header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
.header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  letter-spacing: 2px;
  color: #fff;
}
.header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}


#logo
{
  width: 70px;
  height: 80px;
}
.sticky 
{
  position: fixed;
  top: 0;
  width: 100%;
}
#menu-bar
{
  background-color: #556603;
  padding-top:0px;
  padding-bottom: 0px; 
  z-index: 1000;
}
.navbar-brand
{
  font-weight: 700;
  font-size: 25px;
  color: #06b2b6;
  letter-spacing: 2px;
}
.navbar-nav li
{
  margin-left: 12px;
}
.navbar-nav li a
{
  color: white !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 25px 5px;
  line-height: 20px;
  text-transform: uppercase;
}
.navbar-nav li a:hover
{
  border-bottom: 3px solid white;
}
#topbar
{
  padding-top: 5px;
  padding-bottom: 5px;
}
#etabutton
{
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 400;
  border: 2px solid white;
}
.nav-item .active 
{ 
  border-bottom: 3px solid white;
}

#reviewSide iframe
{
  width: 100%; 
  height: 350px;
}

@media only screen and (max-width: 750px)
{
  .forDesktop
  {
    display: none;
  }
  header
  {
    height: auto;
  }
  #reviewSide iframe
  {
    height: 370px;
    width: 100%;
  }
  .header-content h2 {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
  }
  .header-content h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0 20px;
    letter-spacing: 2px;
    color: #fff;
  }
  .header-content h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
  }

}
/* ========================= header section ==========================*/



/* =========================== about us =========================== */
.single-service h3
{
  font-weight: bold !important;
}

.style-4 .single-service {
  border: 1px solid #ddd;
  padding: 25px 40px;
  margin-bottom: 20px;
  box-shadow: 0 5px 30px -5px #ccc;
  position:relative;
  -webkit-transition:.3s;
  transition:.3s;
  text-align:center;
  min-height: 400px;
}
.style-4 .single-service i.fa {
  color: #FF3547;
  font-size: 30px;
  margin: 25px 0px;
  border: 1px solid #FF3547;
  text-align: center;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 60px;
  -webkit-transition:.5s;
  transition:.5s
}
.style-4 .single-service:after, .single-team:after {
  position: absolute;
  content: "";
  width: 0%;
  border-top: 3px solid #FF3547;
  left: 0;
  top: 0;
  border-left: 3px solid #FF3547;
  height: 0%;
  z-index: 2;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility:hidden;
  -webkit-transition:.5s;
  transition:.5s
}
.style-4 .single-service:before,  .single-team:before {
  position: absolute;
  content: "";
  width: 0%;
  border-bottom: 3px solid #FF3547;
  right: 0;
  bottom: 0;
  border-right: 3px solid #FF3547;
  height: 0%;
  z-index: 2;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility:hidden;
  -webkit-transition:.5s;
  transition:.5s
}
.style-4 .single-service:hover:before, .single-service:hover:after{
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility:visible;
  height:50%;
  width:50%;
}
.style-4 .single-service:hover i.fa {
  background-color: #FF3547;
  border-color: #FF3547;
  color: #fff;
}
.style-4 .single-service h3 {
  position: relative;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 22px;
}
.style-4 .single-service p {
  font-weight: 300;
  
}
.style-4 .single-service h3:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 12px;
  background-color: #FF3547;
  top: -25px;
  left: 50%;
  margin-left: -1.5px;
}
.style-4 .single-service h3:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FF3547;
  left: 50%;
  margin-left: -15px;
  top: -13px;
}

/* ipad setting */
@media (min-width: 768px) and (max-width: 1024px)
{
 .style-4 .single-service
 {
  min-height: 180px;
 } 
}
/* ============================ about us ============================ */



/* ========================  patient portal  ======================== */
.btn 
{
  letter-spacing: 2px;
}
.portal-icon
{
  color: #FF611E;
}

.btn-holly
{
  border:1px solid #f0f0f0;
  border-radius: 20px;
  color: white !important;
  padding: 10px;
  background: #FFA500;
}

.btn-holly:hover
{
  background: white;
  border-color: #FFA500;
  color: black !important;
}
/*  ======================= patient portal =======================  */


/*  ========================= service =========================  */
.style-3 .single-service {
  text-align: center;
  border: 1px solid #ddd;
  padding: 25px 40px;
  -webkit-transition:.4s;
  transition: .4s;
  margin-bottom: 20px;
  min-height: 340px;
}

.style-3 .single-service:hover {
  box-shadow: -3px 3px 3px 0px #ddd;
}
.service-img
{
  height: 100px;
  margin-bottom: 10px;
}
/*  ========================= service =========================  */


/* ======================= blogs section =========================== */
.details-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
  color: #747373;
    font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
}
.btn-card{
  background-color: #1ABC9C;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* ======================= blogs section =========================== */

/* ========================= insurance  =========================*/
#insuranceContent
{
  box-shadow: 15px 15px 15px black;
  padding: 30px;
}
#insurancebg
{
   background: url('https://baymedical.org/sites/default/files/styles/services_image/public/services_images/heart-rythym.jpg?itok=yZ5b4A7F') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ========================= insurance  =========================*/


/* ========================= Blog  =========================*/

/* ========================= Blog  =========================*/



/* ======================== our team ========================== */
.doctor-img
{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}
/* ======================== our team ========================== */



/* ======================== footer ========================== */
footer
{
  background-color: #091B27;
  color: white;
  padding-top: 15px;
  margin-top: 20px;
}
.footer-icon
{
  height: 15px;width: 15px;
}
/* ======================== footer ========================== */


