/* ================ Modals ===================*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0 !important;
}

.modal-xl {
  width: 100% !important;
  min-width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
/* ================ Modals ===================*/


/* ================ form ===================*/
.form-group label
{
    font-weight: bold; 
}
/* ================ form ===================*/


/* ================ floating button style ===================*/
.btn-floating.btn-sm {
    width: 36.15px;
    height: 36.15px;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15px;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
/* ================ floating button style ===================*/


/* ================ classic tabes style ===================*/
.pills-blue .nav-link.allctive, .pills-blue .show>.nav-link, .tabs-blue {
    background-color: #1976d2!important;
}

.classic-tabs .nav {
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
    border-radius: .3rem .3rem 0 0;
}
.classic-tabs .nav li a
{
  color: white;
}
.classic-tabs .nav li a.active {
    border-top: 3px solid;
    color: #fff;
    border-bottom: none;
}

.classic-tabs .nav li a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
}
/* ================ classic tabes style ===================*/

/* ================== table style ===================*/
tbody tr td button
{
  margin: 0px !important;
}
table
{
  text-align: center !important;
}
/* ================== table style ===================*/



.idMappingBox
{
  width: 15px;
  height: 15px;
}


/* Switch Light
==========================*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.selectedRow 
{
  background-color: blue !important;
  color: white;
}