@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body
{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

.location-link
{
	text-decoration: none !important;
}

#logo
{
	height: 70px;
}

#map-section
{
	height: 90vh;
}

#location-container
{
	height: 70vh;
	overflow: scroll;
}


.single-location
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.single-location h3
{
	font-weight: 700;
	color: #FF7062;
}

.single-location h5
{
	font-weight: bold;
	color: grey;
}

.single-location .location-number
{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background: #FF7062;
	color: white;
}

.single-location .location-number span	
{
	font-size: 35px;
	font-weight: 900;
}

.single-location .product
{
	margin-top: 20px;
}

.single-location .product span
{
	background: rgb(240, 255, 244);
	color: rgb(34, 84, 61);
	margin-right: 10px;
	padding: 8px;
	border-radius: 10px;
	font-weight: 700 !important;
	font-size: 17px;
}

#result_status h6
{
	color: grey;
}

.search-group
{
	border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
    font-size: 30px;
}
.search-group input
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.input-group-text
{
	background: #FF7062;
}

#map
{
    height: 90vh;
    width: 100%;
}





.single-product img
{
	height: 270px;
}
.payment_type
{
	margin-top: 15px;
	margin-bottom: 15px;
}
.payment_type span
{
	background: rgb(240, 255, 244);
	color: rgb(34, 84, 61);
	padding: 4px;
	border-radius: 10px;
	font-weight: 700 !important;
	font-size: 13px;
	white-space: nowrap;
	margin-right: 7px;
}


.backside .card-body, .frontside .card-body
{
    padding: 10px;
}

.btn-choose
{
    font-weight: bold;
    font-size: 20px;
    border-color: #FF7062;
    color: #FF7062;
}

.btn-choose:hover
{
    background-color:  #FF7062;
    border-color: #FF7062;
    color: white;
}

.product-image
{
	/*border-radius: 50%;
	height: 200px;
	width: 200px;
	border: 2px solid #FF7062;*/
	height: 250px;
	width: 100%;
}

   .product-title
   {
   	color: #FF7062;
   }

   .product-price
   {
   	font-weight: bold;
   }


   @media only screen and (max-width: 750px)
   {
   	#map
   	{
   		height: 300px;
   		width: 100%;
   	}
   }