.legend-forms
{
  color: #FF621F;
  font-weight: bold;font-size: 23px;
}
.inner-row
{
  padding: 20px;
}
.legend
{
  font-weight: bold;
}
legend
{
  font-size: 1rem;
  margin-left:0px;
}
table th
{
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
table td 
{
  font-size: 1.1rem !important;
}
.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

li {list-style-type: disc;}

.h1-color
{
  color: #FF621F;
}
.hr-color
{
  border: solid 2px #FF621F;
}
.table-width
{
  width: 100%;
}
.custom-font-small
{
  font-size: 10px !important;
}
.custom-margin-left
{
  margin-left: -1rem!important;
}