/* ================ Modals ===================*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0 !important;
}
.modal-info .modal-content .modal-header
{
    background-color: #33B5E5;
    color: white;
}

.modal-danger .modal-content .modal-header
{
    background-color: #fc685f!important;
    color: white;
}

.modal-title
{
  color: white;
}

.modal-xl {
  width: 100% !important;
  min-width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
/* ================ Modals ===================*/


/* ================ form ===================*/
.form-group label
{
    font-weight: bold; 
}
.custom-select
{
    border: none;
    border-bottom: 1px solid #ced4da;
}
/* ================ form ===================*/
.btn-floating
{
  color: white !important;

}

.btn-floating.btn-sm {
    width: 36.15px;
    height: 36.15px;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15px;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

.pills-blue .nav-link.allctive, .pills-blue .show>.nav-link, .tabs-blue {
    background-color: #1976d2!important;
}

.classic-tabs .nav {
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
    border-radius: .3rem .3rem 0 0;
}
.classic-tabs .nav li a
{
  color: white;
}
.classic-tabs .nav li a.active {
    border-top: 3px solid;
    color: #fff;
    border-bottom: none;
}

.classic-tabs .nav li a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
}
