@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*============ typography ============= */
body
{
  font-family: 'Poppins', sans-serif;
}
#logo
{
  height: 100px;
  width: 230px;
}
.title
{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #997A43;
  text-shadow: 2px 2px white;
}
@media only screen and (max-width: 800px)
{
  .title
  {
    font-size: 2rem;
  }
}
@media (min-width: 800px) and (max-width: 1200px)
{
  .title
  {
    font-size: 3rem;
  }
}

section
{
  padding: 30px 0px;
}

.section-title 
{
  margin-bottom: 60px;
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #A28655;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #A28655;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}
.section-title h4:after {
  position: absolute;
  background-color: #A28655;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
}

hr.style-four 
{
  height: 10px;
  border: 1;
  box-shadow: inset 0 9px 9px -3px rgba(11, 99, 184, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/*============ typography ============= */


/*============ header ============= */
.mainLinks
{
  padding-left: 25px !important;
  padding-left: 25px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header
{
  background-image: url(https://www.oncologyrochester.com/images/Contact_Us.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#heroContent
{
  background-color: white;
  padding: 20px;
  border: 4px solid #997A43;
  opacity: 0.9;
  border-radius: 8px;
}

#etabutton
{
  background-color: #997A43;
  border: 2px solid white;
}

.sticky 
{
  position: fixed;
  top: 15px;
  width: 100%;
}
/*============ header ============= */

.single-portal
{
  margin-bottom: 20px;
}

/* ========================= service section ==========================*/
.single-service
{
  min-height: 335px !important;
}

.style-4 .single-service {
  border: 1px solid #ddd;
  padding: 25px 40px;
  margin-bottom: 30px;
  box-shadow: 0 5px 30px -5px #ccc;
  position:relative;
  -webkit-transition:.3s;
  transition:.3s;
  text-align:center
}

.style-4 .single-service:after {
  position: absolute;
  content: "";
  width: 0%;
  border-top: 3px solid #A28655;
  left: 0;
  top: 0;
  border-left: 3px solid #A28655;
  height: 0%;
  z-index: 2;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility:hidden;
  -webkit-transition:.5s;
  transition:.5s
}
.style-4 .single-service:before{
  position: absolute;
  content: "";
  width: 0%;
  border-bottom: 3px solid #A28655;
  right: 0;
  bottom: 0;
  border-right: 3px solid #A28655;
  height: 0%;
  z-index: 2;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility:hidden;
  -webkit-transition:.5s;
  transition:.5s
}
.style-4 .single-service:hover:before, .single-service:hover:after{
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility:visible;
  height:50%;
  width:50%;
}

.style-4 .single-service h3 {
  position: relative;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 22px;
  color: black;
}
.style-4 .single-service p {
  font-weight: 300;
}
.serviceImg
{
  height: 80px;
}
/* ========================= service section ==========================*/

/* ========================= insurance section ==========================*/
#insuranceBg
{
  background: url(https://baymedical.org/sites/default/files/styles/services_image/public/services_images/heart-rythym.jpg?itok=yZ5b4A7F) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#insuranceContent
{
  box-shadow: 15px 15px 15px grey; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  padding: 30px;
}
.insuranceImg
{
  height: 25px;
}

@media only screen and (max-width: 1200px)
{
  #insuranceBg
  {
    display: none;
  }
  #insuranceContent
  {
    padding: 20px;
    border: 5px solid #EC606A;
  }
}
/* ========================= insurance section ==========================*/

/* style for select lang */
a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
/* style for select lang */