.custom-legend
{
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.fieldset-outer
{
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 30px;
}
.inner-row
{
  padding: 20px;
}

@media only screen and (max-width: 750px){
  .custom-legend
{
  padding: 8px;
}
.fieldset-outer
{
  padding: 0;
}
.inner-row
{
  padding: 18px 15px;
}  
}

.next-step {
  font-weight: bold;
  font-size: 20px !important;
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: popup .5s infinite alternate;
}
@-webkit-keyframes popup {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes popup {
  to { -moz-transform: scale(1.2); }
}
@keyframes popup {
  to { transform: scale(1.2); }
}

.step-content
{
  display: none !important;
}

.active .step-content
{
  display: block !important;
}

.btn-minus
{
  padding: 3px 8px !important;
  font-size: 20px;
}
.btn-add
{
  padding: 3px 8px !important;
  font-size: 20px;
}
fieldset
{
  background-color:white;
}
fieldset.fieldset-border
{
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
fieldset.fieldset-border legend
{
  font-size: 17px;
  font-weight: bold;
}
.legend
{
  font-weight: bold;
}
legend
{
  font-size: 1rem;
  margin-left:0px;
}

.form-checkbox, .form-radio {
  padding:2px;
  max-width: 100% !important;
  display: inline-block;
  margin-right: 8px;
  background:white;
}
.checklabel,.radiolabel{
  display:block;
  width:100%;
  background: white;
  border-radius:0px !important;
  text-align:center;
  padding:5px 1em;
  font-size:1rem;
  box-shadow:0 0 1px 1px rgba(0,0,0,0.2);
}
.checklabel:hover, .radiolabel:hover {
  background:#ddd;
}
.checkbox, .radio {
  display: none;
}

/*======optional=====*/

.form-checkbox .optional-label,
.form-radio .optional-label
{
  border: 2px solid yellow;
}
.form-checkbox .checkbox:checked + .optional-label,
.form-radio .radio:checked + .optional-label
{
  background-color: green;
  border: 2px solid green;
  color: white;
}

/*====optional=====*/

.radio:checked + label,
.checkbox:checked + label
 {
  background-position: 0 0;
  background-color: green;
  border: 2px solid green !important;
  color: white;
}

.form-radio .required-label,
.form-checkbox .required-label
{
  border: 2px solid red !important;
}
.radiolabel.checkbox-yellow,
.checklabel.checkbox-yellow
{
  border: 2px solid yellow !important;
}

/*===================floating labels===========================*/
.required
{
  border-bottom: 3px solid red !important;
}

.required.green-border
{
  border-bottom: 3px solid green !important;
}

.optional
{
  border-bottom: 3px solid yellow !important;
}

.optional.green-border
{
  border-bottom: 3px solid green !important;
}

.floating-labels .form-group 
{
  position: relative; 
  margin-bottom: 30px;
}

.floating-labels .form-control[type='text'], .form-control[type='email'], .form-control[type='number'], .form-control[type='tel'], .form-control[type='password'], .form-control[type='date'], 
  select.form-control , textarea.form-control 
{
  padding: 7px 7px 7px 0px !important;
  display: block;
  border: none;
  outline: none;
  border-radius: 0px;
  font-family: inherit;
  font-size: 1.3rem;
  color: black;
  background: none;
}

.floating-labels .form-control:focus 
{
  outline: none;
  border: none; 
  box-shadow: none;
}

.floating-labels .float-label 
{
  color: black;
  font-size: 1.3rem;
  position: absolute;
  cursor: auto;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; 
}

.floating-labels .focused .float-label 
{
  top: -20px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  box-shadow: none !important;
  outline: none !important; 
}

.intial_hidden
{
  display: none;
  margin: 25px 4px 0px !important;
}
.custom-file label
{
  overflow: hidden;
}

.has-error
{
  padding: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

table th
{
  font-size: 1rem !important;
  font-weight: bold !important;
}
table td 
{
  font-size: 1rem !important;
}
.table-responsive tr
{
  width: 100%;
}
.table-responsive th
{
  width: 33.3%;
}

#ninth-step p,
#ninth-step ol li,
#tenth-step p,
#tenth-step p,
#eleventh-step p
{
  font-size: 16px !important;
}


/*==============================mobile view===========================*/
@media only screen and (max-width: 750px)
{
  .table-responsive .datepicker
  {
    width: 120px !important;
  }
  .form-checkbox, .form-radio
  {
    margin-right: 5px !important;
    display: block;
  }
  .checklabel, .radiolabel
  {
    padding:8px !important;
    font-size:14px !important;
  }
  fieldset
  {
    padding: 12px;
  }
  legend
  {
    font-size: 16px;
  }
  .step-content 
  {
    padding-right: 20px;
  }


.floating-labels .form-control[type='text'], .form-control[type='email'], .form-control[type='number'], .form-control[type='tel'], .form-control[type='password'], .form-control[type='date'], 
  select.form-control , textarea.form-control 
{
  font-size: 1rem;
}

.floating-labels .float-label 
{
  font-size: 1rem;
  bottom: 3px !important;
  top: auto;
}

.floating-labels .focused .float-label 
{
  top: -20px !important;
}
.desktop
{
  display: none;
}
.stepper-vertical
{
  padding-left: 0px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  padding-right: 0px !important;
}
.step-content
{
  padding-left: 0px !important;
  margin-left: 1.4rem !important;
  padding-right: 2.8rem !important;
}
.stepper-vertical section a
{
  padding-left: 0.5rem !important;
}
.stepper-vertical .form-step:after
{
  left: 1.4rem !important;
}
.insurancectnr
{
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.next-step
{
  font-size: 16px !important;
}
.sigPad
{
  width: 100% !important;
}
canvas
{
  width: 98% !important;
}
#form-container
{
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden !important;
}
}


.primary-color,div.stepper section.active a .circle,div.stepper section.completed a .circle {
  background-color: #4285f4 !important
}


a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300
}table th {
  font-size: .9rem;
  font-weight: 400
}

table td {
  font-size: .9rem;
  font-weight: 300
}
table.table th,table.table td {
    padding-top: 1.1rem;
    padding-bottom: 1rem
}table.table-sm th,table.table-sm td {
  padding-top: .6rem;
  padding-bottom: .6rem
}.table-responsive>.table-bordered,.table-responsive-sm>.table-bordered,.table-responsive-md>.table-bordered,.table-responsive-lg>.table-bordered,.table-responsive-xl>.table-bordered {
  border-top: 1px solid #dee2e6
}

div.stepper {
  padding: 0 1.5rem;
  padding: 1.5rem;
  margin: 1em -1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  counter-reset: section
}

div.stepper section a {
  padding: 1.5rem;
  text-align: center
}

div.stepper section a .circle {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .5rem;
  line-height: 1.7rem;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.38);
  border-radius: 50%
}

div.stepper section a .label {
  display: inline-block;
  color: rgba(0,0,0,0.38)
}

div.stepper section.active a .label,div.stepper section.completed a .label {
  font-weight: 600;
  color: rgba(0,0,0,0.87)
}.stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.stepper-horizontal section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  transition: .5s
}

.stepper-horizontal section a .label {
  margin-top: .63rem
}

.stepper-horizontal section:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  margin: .5rem 0 0 0;
  content: "";
  background-color: rgba(0,0,0,0.1)
}

.stepper-horizontal section:not(:first-child):before {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  margin: .5rem 0 0 0;
  content: "";
  background-color: rgba(0,0,0,0.1)
}

.stepper-horizontal section:hover {
  background-color: rgba(0,0,0,0.06)
}

@media (max-width: 47.9375rem) {
  .stepper-horizontal {
      -webkit-box-orient:vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
  }

  .stepper-horizontal section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start
  }

  .stepper-horizontal section a .label {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-top: .2rem
  }

  .stepper-horizontal section:not(:last-child):after {
      position: absolute;
      top: 3.75rem;
      left: 2.19rem;
      width: 1px;
      height: calc(100% - 40px);
      content: ""
  }
}

.stepper-horizontal>section:not(:last-of-type) {
  margin-bottom: 0 !important
}

.stepper-vertical {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.stepper-vertical section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.stepper-vertical section a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.stepper-vertical section a .circle {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}

.stepper-vertical section a .label {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-top: .2rem
}

.stepper-vertical section.completed a .label {
  font-weight: 500
}

.stepper-vertical section .step-content {
  display: block;
  padding: .94rem;
  margin-top: 0;
  margin-left: 3.13rem
}

.stepper-vertical section .step-content p {
  font-size: .88rem
}

.stepper-vertical section:not(:last-child):after {
  position: absolute;
  top: 3.5rem;
  left: 2.4rem;
  width: 1px;
  height: calc(100% - 40px);
  content: "";
  background-color: rgba(0,0,0,0.1)
}

.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* li {list-style: none;} */

.h1-color
{
  color: #FF621F;
}
.hr-color
{
  border: solid 2px #FF621F;
}.legend-forms
{
  color: #FF621F;
  font-weight: bold;font-size: 20px;
}
.table-width
{
  width: 100%;
}

/* td{
  width: 10em;
} */