a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}

.blog-img {
	position: relative;
}
.blog-img img {
	width: 100%;
}

.single-blog:hover img {
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-content {
	padding: 30px 20px;
}
.single-blog {
	border: 1px solid #eee;
}
.blog-title h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.meta {
	margin-bottom: 20px;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.blog-content a.box_btn {
	display: inline-block;
	background-color: #68CEFF;
	padding: 5px 15px;
	color: #fff;
	text-transform: capitalize;
	margin-top: 20px;
}
a.box_btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #68CEFF;
	left: -100%;
	top: 0;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: -1;
}
a.box_btn {
	overflow: hidden;
	z-index: 2;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	text-decoration:none;
}
a.box_btn:hover::before {
	left: 0;
	z-index: -1;
}

.btn-read
{
	background-color: #68CEFF;
	border-radius: 10rem;
	color: white;
}





.blog-content h5
{
	font-weight: bold;
	color: #0FB4E9;
}

.right-menu
{
	background-color: #F5F5F5;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
}

.right-menu h4
{
	margin-bottom: 20px;
}
.right-menu h4 i
{
	color: grey;
}

.tag-badges, .category-badges
{
	background-color: #0FB4E9;
	padding: 1px 5px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}
.single-tag, .single-category
{
	margin-bottom: 15px;
}
.right-menu h5
{
	margin-bottom: 20px;
}
.right-menu .single-blog
{
	margin-bottom: 15px;
}
.right-menu .single-blog a
{
	font-size: 15px;
	text-decoration: none;
	color: black;
}
.single-blog-top img
{
	margin-bottom: 20px;
}
.single-blog-top h5
{
	font-weight: bold;
	color: #0FB4E9;
}
.paginate-blog
{
	margin-bottom: 20px;
}
.paginate-blog .blog-description h5
{
	font-weight: bold;
	color: #0FB4E9;
}
.badges-list
{
	position: absolute !important;
	bottom: 0px !important;
	padding-left: 0px;
}
@media only screen and (max-width: 750px)
{
	.badges-list
	{
		position: relative !important;
		bottom: 0px !important;
		padding-left: 0px;
	}
}
.badges-list i 
{
	color: grey;
}
.badges-list li
{
	display: inline !important;
}
.badges-list li span
{
	padding-right: 5px;

}

.post-divider
{
	border: 1px solid black;
	margin-top: 40px;
}
/* ======================== main section design =============================*/

.blog-description img
{
	margin-bottom: 30px;
}
.blog-description h3
{
	font-weight: bold;
	color: #0FB4E9;
	margin-bottom: 20px;
}
.blog-description h4
{
	font-weight: bold;
	margin-bottom: 20px;
}
#sharing-icons
{
	margin: 0px;
	padding: 0px;
}
#sharing-icons li
{
	text-decoration: none;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 20px;
	display: inline !important;

}





.pagination .page-item.active .page-link
{
	background-color: black;
	color: white;
	border-radius: 10rem;
}
.page-link
{
	border: none;
}
.page-item .page-link
{
	color: black;
}
.page-item .page-link i
{
	color: black;
}
