a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}

.blog-img {
	position: relative;
}
.blog-img img {
	width: 100%;
}

.single-blog:hover img {
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog-content {
	padding: 30px 20px;
}
.single-blog {
	border: 1px solid #eee;
}
.blog-title h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.meta ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.meta {
	margin-bottom: 20px;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.blog-content a.box_btn {
	display: inline-block;
	background-color: #ff621f;
	padding: 5px 10px;
	color: #fff;
	text-transform: capitalize;
	margin-top: 20px;
}
.badge-cat
{
	background-color: #ff621f;
}
.badge-tag
{
	background-color: #17A2B8;
}
a.box_btn::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #ff621f;
	left: -100%;
	top: 0;
	-webkit-transition: .5s;
	transition: .5s;
	z-index: -1;
}
a.box_btn {
	overflow: hidden;
	z-index: 2;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	text-decoration:none;
}
a.box_btn:hover::before {
	left: 0;
	z-index: -1;
}

.btn-read
{
	background-color: #ff621f;
	border-radius: 10rem;
	color: white;
}





.blog-content h5
{
	font-weight: bold;
	color: #0FB4E9;
}

.single-tag, .single-category
{
	margin-bottom: 15px;
}


.single-blog-top img
{
	margin-bottom: 20px;
}
.single-blog-top h5
{
	font-weight: bold;
	color: #0FB4E9;
}
.paginate-blog
{
	margin-bottom: 20px;
}
.paginate-blog .blog-description h5
{
	font-weight: bold;
	color: #0FB4E9;
}



.post-divider
{
	border: 1px solid black;
	margin-top: 40px;
}
/* ======================== main section design =============================*/

.blog-description img
{
	margin-bottom: 30px;
}
.blog-description h3
{
	font-weight: bold;
	color: #0FB4E9;
	margin-bottom: 20px;
}
.blog-description h4
{
	font-weight: bold;
	margin-bottom: 20px;
}


.well
{
	margin-bottom: 20px;
	padding: 20px;
}




.pagination .page-item.active .page-link
{
	background-color: black;
	color: white;
	border-radius: 10rem;
}
.page-link
{
	border: none;
}
.page-item .page-link
{
	color: black;
}
.page-item .page-link i
{
	color: black;
}


 #social-links ul
    {
      margin: 0px !important;
      padding-left: 0px;
    }

    #social-links ul li
    {
      margin-left: 0px !important;
      text-decoration: none;
      display: inline;
      margin-right: 9px;
    }



    #social-links img
    {
      height: 30px;
    }